<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Almaty Hotel</title>

    <link rel="stylesheet" href="static/css/admin-panel.css">
    <link rel="icon" href="static/media/logo-small.png" type="image/icon type">
</head>
<body>
    {% block content %} {% endblock %}

    <script src="static/js/changes.js"></script>
    <script src="static/js/loading.js"></script>
    <script src="static/js/post_data.js"></script>
    <script src="static/js/show_text.js"></script>

    {% block _script_block %} {% endblock %}
</body>
</html>
