{% extends 'container.html' %}

{% block container_body %}
    <div class="admin-panel">

        <div class="menu">
            <div class="logo">
                <img src="static/media/logo.png" alt="" width="180px">
            </div>
        </div>

        <div class="body">
            <div class="header">
                <div class="title">
                    Авторизация в админ панель Almaty Hotel
                </div>
            </div>

            <div id="show-text">
                <span></span>
            </div>
            
            <div class="login-form">
                <div class="main">
                    <div class="left">
                        <div class="user-text">
                            <span>Логин</span>
                        </div>
                        <div class="password-text">
                            <span>Пароль</span>
                        </div>
                    </div>
                    <div class="right">
                        <div id="user">
                            <input type="text">
                        </div>
                        <div id="password">
                            <input type="password">
                        </div>
                    </div>
                </div>
                <div id="submit">
                    <input type="button" value="Войти">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _script_block %}
    <script src="static/js/login.js"></script>
    <script>
        let SubmitElement = document.querySelector("#submit > input");

        SubmitElement.onclick = async event => await Login();
    </script>
{% endblock %}
